.github
.github/copilot-instructions.md

__pycache__

# Virtual environment
.venv/

# Docker files
docker-compose.yml
Dockerfile

# Requirements
REQUIREMENTS.md


# Script files
fetch_spoonacular_recipes.py

# Local environment variables
.env